# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
.env
.env.*

# Django migrations
*/migrations/__pycache__/
*/migrations/*.py[cod]
*/migrations/*.py~

# Virtual environments
venv/
env/
ENV/
.venv/
.ENV/

# VS Code
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Test coverage
htmlcov/
.coverage
coverage.xml
*.cover

# MyPy, Pylint, etc
.mypy_cache/
.pytest_cache/
.pyre/

# Output folders
build/
dist/

# Local settings
local_settings.py
